.block {
    width: 150px;
    border: 1px solid white;
    margin: 20px;
}
img {
    width: 100px;
    height: 100px;
}
.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}